* {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #205e50;
}

.navbar-brand {
    color: white;
}

.navbar-toggler {
    background-color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #205e50;
}

#cabecalho .nav .nav-link {
    color: white;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.section-title {
    color: #205e50;
}

#beneficios, #contato {
    background-color: #e9feff;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#agenda button {
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.722);
    margin-bottom: 8px;
}

#agenda button.active {
    background-color: #205e50;
    color: white;
}

.btn {
    background-color: #205e50;
    color: white;
}

.btn:hover {
    background-color: #2e8d77;
    color: white;
}

p,
.nav-agenda button {
    word-wrap: break-word;
    width: 100%;
    
}

@media (max-width: 767px) {
    #cabecalho .nav-item {
        margin-top: 8px;
    }

    #cabecalho .navbar-toggler {
        border: none;
    }

    .carousel-item img {
        height: 280px;
    }

    #sobre img {
        height: 320px;
        object-fit: cover;
        object-position: top;
    }

    .section-title {
        margin-top: 8px;
    }

    #agendaA img,
    #agendaB img {
        margin-top: 32px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #sobre img {
        height: 400px;
        object-fit: cover;
        object-position: top;
    }

    .section-title {
        margin-top: 8px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .nav-agenda button {
        font-size: 14px;
    }
}
